.navigation-wrapper {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-wrapper > .left-column > .logo {
  padding: 40px 40px 40px 20px;
  font-size: 1.75em;
  letter-spacing: 0.25em;
}

.navigation-wrapper > .left-column > .logo a {
  text-decoration: none;
  color: white;
}

.navigation-wrapper > .left-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-wrapper > .left-column > .nav-column {
  display: grid;
  grid-template-columns: 1fr;
}

.navigation-wrapper > .left-column > .nav-column >.explore span{
  color: #ffdd40;
  font-size: 0.75em;
}

.navigation-wrapper > .left-column > .nav-column > .links-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  padding: 0px 10px 5px 0px;
}

.navigation-wrapper > .left-column > .nav-column > .links-wrapper > .nav-link a{
  text-decoration: none;
  color: white;
  font-size: 1.22em;
  font-weight: 900;
}

.navigation-wrapper > .left-column > .nav-link-dropdown {
  padding: 60px 40px 40px 20px;
}

.navigation-wrapper > .left-column >  .nav-link-dropdown a {
  text-decoration: none;
  color: grey;
  font-weight: 900;
}

.navigation-wrapper > .right-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navigation-wrapper > .right-column > .buttons i{
  color: #868ca0;
  font-size: 2em;
}


.btn{
  background-color: #444857;
  color: white;
  font-size: 1em;
  padding: 15px 25px;
  border: 1px solid #444857;
  border-radius: 2px;
  outline: none;
  font-weight: 700;
}

.navigation-wrapper > .right-column > .buttons > .btn i{
  color: #47cf73;
  font-size: 1.25em;
}

.buttons {
  padding: 50px 0px 50px 15px;
}



